
body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: #25496B;
  text-align: left;
  background: #EEEEEE no-repeat fixed center;
  scrollbar-face-color: #014E82;
  scrollbar-shadow-color: #000000;
  scrollbar-highlight-color: #014E82;
  scrollbar-3dlight-color: #AAAAAA;
  scrollbar-darkshadow-color: #888888;
  scrollbar-track-color: #AAAAAA;
  scrollbar-arrow-color: #EEEEEE;
}
.titu{
    text-align: center;
    font-family: "Muli-SemiBold";
    font-size: 22px;
    color: #e45d0f;
    text-transform: uppercase;
    letter-spacing: 7px;
}

img {
        border: none;
        position: relative;

}

.parte2{
  text-align: center;
}
table{
  border: 0;
  background: #FFFFFF;
  align-self: center;


}

th {
  font-family: Soberana, Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: #FFFFFF;
  background-color: #014e82;
  font-variant: small-caps;
  padding: 3px 10px 3px 5px;
  text-align: center;
}

td {
  font-family: Soberana, Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: #25496B;
  padding: 0px 0px 0px 0px;
}

h1 {
  color: #0442b6;
  font-variant:small-caps;
}

h2 {
  color: #0080C0;
  font-variant:small-caps;
}

h3, h4 {
  color: #0099ff;
  font-variant:small-caps;
}

h5, h6 {
  color: #25496B;
  font-variant:small-caps;
}

p {
  text-align: justify;
}




.formulario__label {
    display: block;
    font-weight: 700;
    padding: 10px;
    cursor: pointer;
  }

  .formulario__grupo-input {
    position: relative;
  }

  .formulario__input {
    width: 100%;
    background: #fff;
    border: 3px solid transparent;
    border-radius: 3px;
    height: 45px;
    line-height: 45px;
    padding: 0 40px 0 10px;
    transition: .3s ease all;
  }

  .formulario__input:focus {
    border: 3px solid #0075FF;
    outline: none;
    box-shadow: 3px 0px 30px rgba(163,163,163, 0.4);
  }

  .formulario__input-error {
    font-size: 12px;
    margin-bottom: 0;
    display: none;
    position: relative;
    left: 200px;
  }

  .formulario__input-error-activo {
    display: block;
  }

  .formulario__validacion-estado {
    position: absolute;
    right: 10px;
    bottom: 15px;
    z-index: 100;
    font-size: 16px;
    opacity: 0;
  }

  .formulario__checkbox {
    margin-right: 10px;
  }

  .formulario__grupo-terminos,
  .formulario__mensaje,
  .formulario__grupo-btn-enviar {
    grid-column: span 2;
  }

  .formulario__mensaje {
    height: 45px;
    line-height: 45px;
    background: #F66060;
    padding: 0 15px;
    border-radius: 3px;
    display: none;
  }

  .formulario__mensaje-activo {
    display: block;
  }

  .formulario__mensaje p {
    margin: 0;
  }

  .formulario__grupo-btn-enviar {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .formulario__btn {
    height: 45px;
    line-height: 45px;
    width: 30%;
    background:#0075FF;
    color: #fff;
    font-weight: bold;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: .1s ease all;
  }

  .formulario__btn:hover {
    box-shadow: 3px 0px 30px rgba(163,163,163, 1);
  }

  .formulario__mensaje-exito {
    font-size: 14px;
    color: #119200;
    display: none;
  }

  .formulario__mensaje-exito-activo {
    display: block;
  }

  /* ----- -----  Estilos para Validacion ----- ----- */
  .formulario__grupo-correcto .formulario__validacion-estado {
    color: #1ed12d;
    opacity: 1;
  }

  .formulario__grupo-incorrecto .formulario__label {
    color: #bb2929;
  }

  .formulario__grupo-incorrecto .formulario__validacion-estado {
    color: #bb2929;
    opacity: 1;
  }

  .formulario__grupo-incorrecto .formulario__input {
    border: 3px solid #bb2929;
  }


  /* ----- -----  Mediaqueries ----- ----- */
  @media screen and (max-width: 800px) {
    .formulario {
      grid-template-columns: 1fr;
    }

    .formulario__grupo-terminos,
    .formulario__mensaje,
    .formulario__grupo-btn-enviar {
      grid-column: 1;
    }

    .formulario__btn {
      width: 100%;
    }
  }
  .cen{
    align-items: center;
    text-align: center;
    width:400px;
    position: relative;
    left: 750px;
  }
  .img{
    align-items: center;
    text-align: center;
    position: relative;
    left: 250px;
  }




button{
  position: relative;
    color: rgba(255,255,255,1);
    text-decoration: none;
    background-color: rgb(6, 27, 140);
    font-family: 'Yanone Kaffeesatz';
    font-weight: 200;
    font-size: 2em;
    display: block;
    padding: 4px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: 0px 9px 0px rgba(5,41,219), 0px 9px 25px rgba(0,0,0,.7);
    -moz-box-shadow: 0px 9px 0px rgb(5, 41, 219), 0px 9px 25px rgba(0,0,0,.7);
    box-shadow: 0px 9px 0px rgba(5,41,219), 0px 9px 25px rgba(0,0,0,.7);
    margin: 50px auto;
  width: 150px;
  margin-top: 5px;
  text-align: center;

  -webkit-transition: all .1s ease;
  -moz-transition: all .1s ease;
  -ms-transition: all .1s ease;
  -o-transition: all .1s ease;
  transition: all .1s ease;
}

button:active {
    -webkit-box-shadow: 0px 3px 0px rgb(6, 121, 166), 0px 3px 6px rgba(0,0,0,.9);
    -moz-box-shadow: 0px 3px 0px rgba(219,31,5,1), 0px 3px 6px rgba(0,0,0,.9);
    box-shadow: 0px 3px 0px rgba(219,31,5,1), 0px 3px 6px rgba(0,0,0,.9);
    position: relative;}

.card-body{
  align-items: center;
  text-align: center;
  align-content: center;
}

.form-control{
position: relative;
left: 100px;
}
